header {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

label {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

#search-btn {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

.btn-dark {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

#city {
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

#current-forecast h4 {
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}